<div ng-include="'view/header.html'"></div>
<div class="top">
    <div id="search-input-container">
        <h3>ابحث:</h3>
        <input id="search-input" name="regex_input" ng-trim="false" ng-keyup="$event.keyCode == 13 && searchButtonClicked()"
                     type="text" class="search-input" ng-model="regex_query"/>
        <button ng-click="searchButtonClicked()">ابحث</button>
        <br>
        <label><b><input type="checkbox" ng-model="shouldRemoveLastHarakah"/></b>
            <span>إزالة الحركة الأخيرة من نتائج البحث؟</span>
        </label>
    </div>
    <div id="input-options">
        <h3>إضافة:</h3>
        <button ng-click="appendToCurrentTypingCursor('ـ')">أي حرف (ـ)</button>
        <button ng-click="appendToCurrentTypingCursor('.')">حرف أو أكثر (.)</button>
        <button ng-click="appendToCurrentTypingCursor('..')">   كلمة أو أكثر (..)</button>
        <br>
        <button ng-click="appendToCurrentTypingCursor(FATHA)">فتحة</button>
        <button ng-click="appendToCurrentTypingCursor(KASRA)">كسرة</button>
        <button ng-click="appendToCurrentTypingCursor(DAMMA)">ضمة</button>
        <button ng-click="appendToCurrentTypingCursor(SHADDA)">شدة</button>
        <button ng-click="appendToCurrentTypingCursor(SUKUN)">سكون</button>
    </div>

    <!--<br>-->
    <!--ضمن النتائج: <input name="company" type="text" class="search-input" ng-model="query"/>-->

</div>

<input id="hide-sidebar" name="h" type="checkbox">
<label for="hide-sidebar">خيارات البحث</label>

<section class="left" style="border-right:1px">
    <button ng-click="updateUrl()">تحديث الرابط</button>

    <div id="filter-settings">
        <h3>الترتيب</h3>
        <label for="sort-by-counts"><input type="radio" ng-model="sortBy" value="counts" id="sort-by-counts"> بالعدد</label>
        <label for="sort-by-letters"><input type="radio" ng-model="sortBy" value="letters" id="sort-by-letters">الحروف </label>
        <label for="sort-by-none"><input type="radio" ng-model="sortBy" value="none" id="sort-by-none">ترتيب العثور عليها </label>
        <br>
        <h3>عدد التكرار</h3>
        <label for="update-counts-per-selections"><input type="checkbox" ng-model="changeCountsAsPerFilter" id="update-counts-per-selections">تغيير الأعداد بحسب الاختيارات؟ </label>
        <h3>العرض التدريجي</h3>
        <label for="show-all-search-results"><input type="checkbox" ng-model="showAllWords" id="show-all-search-results">عرض كل نتائج البحث دفعة واحدة؟ </label>
    </div>
    <div class="sidebar-title">
        <b>عدد الآيات
            ({{ filteredAyat.length }})</b>
    </div>
    <div class="filter">
                <span class="filter--title">
نتائج البحث
                ( {{ resultsGroup.length }} )
                </span>
        <span class="btn" ng-click="clearResultsFilter()">حدد الكل</span>

        <div class="scroll-container">
            <div ng-repeat="results in visibleFoundWords">
                <label><b><input type="checkbox" ng-model="useResults[results]"/>{{ :: results}}</b>
                    <span>({{ countedAyahAttributes['matched'][results]+0 }})</span>
                </label>
            </div>
            <div ng-if="isLoading">
                <!-- Loading indicator or any other content when loading more items -->
                <div class="loader-container">
                    <div class="dot dot1"></div>
                    <div class="dot dot2"></div>
                    <div class="dot dot3"></div>
                </div>
            </div>
        </div>
    </div><div class="filter">
            <span class="filter--title">
السُوَر
                ( {{ suwarGroup.length }} )
            </span>
    <span class="btn" ng-click="clearSuwarFilter()">حدد الكل</span>
    <div>
        <div ng-repeat="surah_order in suwarGroup">
            <label><b><input type="checkbox" ng-model="useSuwar[surah_order]"/>{{ :: suwar[surah_order-1].title}}</b>
                <span>({{ countedAyahAttributes['sura_id'][surah_order]+0 }})</span>
            </label>
        </div>
    </div>
</div>
</section>
<section class="right" style="border-right:1px">
    <div>
        <ul id="data-list">
            <li ng-repeat="player in pagedItems[currentPage] | filter:query">
                <p><span ng-bind-html="player.text_with_highlight"></span>
                    <b class="ayah-source">
                        <a href="#!/surah?id={{ player.sura_id }}#ayah-{{ player.verse_id }}">
                        سورة
                        {{ suwar[player.sura_id - 1].title }}
                        -
                        الآية
                        {{ player.verse_id }}
                        </a>
                    </b>
                </p>
            </li>
        </ul>
    </div>

    <div class="pagination pull-right">
        <ul>
            <li ng-class="{disabled: currentPage == 0}">
                <a href ng-click="prevPage()">« Prev</a>
            </li>
            <li ng-repeat="n in range(pagedItems.length)"
                ng-class="{active: n == currentPage, show: (n - 5 < currentPage) && (n + 5 > currentPage) }"
                ng-click="setPage()">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                <a href ng-click="nextPage()">Next »</a>
            </li>
        </ul>
    </div>
</section>