<div ng-include="'view/header.html'"></div>
<div class="top">
    <div id="search-input-container">
        <h3>ابحث:</h3>
        <input id="search-input" name="regex_input" ng-trim="false" ng-keyup="$event.keyCode == 13 && searchButtonClicked()"
                     type="text" class="search-input" ng-model="regex_query"/>
        <button ng-click="searchButtonClicked()">ابحث</button>
        <br>
        <label><b><input type="checkbox" ng-model="shouldRemoveLastHarakah"/></b>
            <span>إزالة الحركة الأخيرة من نتائج البحث؟</span>
        </label>
    </div>
    <div id="input-options">
        <h3>إضافة:</h3>
        <button ng-click="appendToCurrentTypingCursor('ـ')">أي حرف (ـ)</button>
        <button ng-click="appendToCurrentTypingCursor('.')">حرف أو أكثر (.)</button>
        <button ng-click="appendToCurrentTypingCursor('..')">   كلمة أو أكثر (..)</button>
        <br>
        <button ng-click="appendToCurrentTypingCursor(FATHA)">فتحة</button>
        <button ng-click="appendToCurrentTypingCursor(KASRA)">كسرة</button>
        <button ng-click="appendToCurrentTypingCursor(DAMMA)">ضمة</button>
        <button ng-click="appendToCurrentTypingCursor(SHADDA)">شدة</button>
        <button ng-click="appendToCurrentTypingCursor(SUKUN)">سكون</button>
    </div>

    <button ng-click="toggleHelpVisibility()">
        {{ helpVisible ? 'إخفاء المساعدة' : 'عرض المساعدة' }}
    </button>

    <button ng-click="openPopup()">للبحث ضمن اختيارات</button>

    <div id="popup" class="popup">
        <h3>تحديد خيارات البحث</h3>
        <p class="info-text">أدخل الخيارات التي ترغب في البحث بها، مثلاً: يمكنك البحث عن الآيات التي تحتوي على "آدم" أو "عيسى".</p>
        <div class="input-container" ng-repeat="input in inputs track by $index">
            <input type="text" ng-model="input.value" placeholder="الخيار {{$index + 1}}" id="input_{{$index}}" ng-keydown="handleEnter($event, $index, inputs.length)">
            <span class="remove-input" ng-if="$index > 1" ng-click="removeInput($index)">حذف</span>
        </div>
        <span class="add-input" ng-click="addInput()">+ إضافة خيار</span>
        <br>
        <button class="confirm-btn" ng-click="done()">أضف لنص البحث</button>
        <button class="close-btn" ng-click="closePopup()">إغلاق</button>
    </div>

    <div ng-show="helpVisible" class="help-section">
        <h2>كيفية استخدام خانة البحث</h2>

        <div class="example">
            <strong>البحث باستخدام حرف واحد (ـ):</strong><br>
            للبحث عن كلمات تحتوي على حرف مفتوح يتبعه مد بالألف وهمزة، استخدم الزر "<span class="highlight">أي حرف (ـ)</span>" أو اكتب (ـ) وبعدها الفتحة والحروف المطلوبة. <br>
            مثال: "<span class="highlight">ـَاء</span>" يتناسب مع "<span class="highlight">مَاء</span>"، "<span class="highlight">سَاء</span>"، "<span class="highlight">جَاء</span>"، وأي كلمة تحتوي على حرف مفتوح يتبعه مد بالألف وهمزة مثل "أَ<span class="highlight">ضَاء</span>َتْ".
            <br>
            <button class="button-link" ng-click="openNewTab('ـَاء')">اظهر كل نتائج البحث</button>
        </div>

        <div class="example">
            <strong>البحث باستخدام حرف أو أكثر (.):</strong><br>
            للبحث عن كلمات تبدأ بألف ولام وحرف الحاء، استخدم الزر "<span class="highlight">حرف أو أكثر (.)</span>" أو اكتب (.) بعد كتابة الحروف. <br>
            مثال: "<span class="highlight"> الح.</span>" يتناسب مع "<span class="highlight">الْحَقُّ</span>"، "<span class="highlight">الْحَمْدُ</span>"، وجميع الكلمات التي تبدأ بألف ولام وحرف الحاء مع مراعاة وجود مسافة لتحديد أن الحرف الأول في بداية الكلمة.
            <br>
            <button class="button-link" ng-click="openNewTab(' الح.')">اظهر كل نتائج البحث</button>
        </div>

        <div class="example">
            <strong>البحث عن كلمة أو أكثر (..):</strong><br>
            للبحث عن مجموعة من الكلمات، استخدم الزر "<span class="highlight">كلمة أو أكثر (..)</span>". <br>
            مثال: "<span class="highlight">إذا .. قالوا</span>" يتناسب مع: <br>
            <ul>
                <li><span class="highlight">"إِذَا لَقُوا الَّذِينَ آمَنُوا قَالُوا"</span></li>
                <li><span class="highlight">"إِذَا قِيلَ لَهُمُ اتَّبِعُوا مَا أَنْزَلَ اللَّهُ قَالُوا"</span></li>
            </ul>
            <button class="button-link" ng-click="openNewTab('إذا .. قالوا')">اظهر كل نتائج البحث</button>
        </div>
    </div>
    <!--<br>-->
    <!--ضمن النتائج: <input name="company" type="text" class="search-input" ng-model="query"/>-->

</div>

<input id="hide-sidebar" name="h" type="checkbox">
<label for="hide-sidebar">خيارات البحث</label>

<section class="left" style="border-right:1px">
    <button ng-click="updateUrl()">تحديث الرابط</button>

    <div id="filter-settings">
        <h3>الترتيب</h3>
        <label for="sort-by-counts"><input type="radio" ng-model="sortBy" value="counts" id="sort-by-counts"> بالعدد</label>
        <label for="sort-by-letters"><input type="radio" ng-model="sortBy" value="letters" id="sort-by-letters">الحروف </label>
        <label for="sort-by-none"><input type="radio" ng-model="sortBy" value="none" id="sort-by-none">ترتيب العثور عليها </label>
        <br>
        <h3>عدد التكرار</h3>
        <label for="update-counts-per-selections"><input type="checkbox" ng-model="changeCountsAsPerFilter" id="update-counts-per-selections">تغيير الأعداد بحسب الاختيارات؟ </label>
        <h3>العرض</h3>
        <label for="show-all-search-results"><input type="checkbox" ng-model="showAllWords" id="show-all-search-results">عرض كل نتائج البحث دفعة واحدة؟ </label><br>
        <label for="show-only-selected-results"><input type="checkbox" ng-model="showOnlySelectedResults" id="show-only-selected-results">عرض فقط ما تم اختياره من نتائج البحث؟ </label>
    </div>
    <div class="sidebar-title">
        <b>عدد الآيات
            ({{ filteredAyat.length }})</b>
    </div>
    <div class="filter">
                <span class="filter--title">
نتائج البحث
                ( {{ resultsGroup.length }} )
                </span>
        <span class="btn" ng-click="clearResultsFilter()">حدد الكل</span>

        <div class="scroll-container">
            <div ng-repeat="results in visibleFoundWords" ng-if="!showOnlySelectedResults || useResults[results]">
                <label><b><input type="checkbox" ng-model="useResults[results]"/>{{ :: results}}</b>
                    <span>({{ countedAyahAttributes['matched'][results]+0 }})</span>
                </label>
            </div>
            <div ng-if="isLoading">
                <!-- Loading indicator or any other content when loading more items -->
                <div class="loader-container">
                    <div class="dot dot1"></div>
                    <div class="dot dot2"></div>
                    <div class="dot dot3"></div>
                </div>
            </div>
        </div>
    </div><div class="filter">
            <span class="filter--title">
السُوَر
                ( {{ suwarGroup.length }} )
            </span>
    <span class="btn" ng-click="clearSuwarFilter()">حدد الكل</span>
    <div>
        <div ng-repeat="surah_order in suwarGroup">
            <label><b><input type="checkbox" ng-model="useSuwar[surah_order]"/>{{ :: suwar[surah_order-1].title}}</b>
                <span>({{ countedAyahAttributes['sura_id'][surah_order]+0 }})</span>
            </label>
        </div>
    </div>
</div>
</section>
<section class="right" style="border-right:1px">
    <div>
        <ul id="data-list">
            <li ng-repeat="player in pagedItems[currentPage] | filter:query">
                <p><span ng-bind-html="player.text_with_highlight"></span>
                    <b class="ayah-source">
                        <a href="#!/surah?id={{ player.sura_id }}#ayah-{{ player.verse_id }}">
                        سورة
                        {{ suwar[player.sura_id - 1].title }}
                        -
                        الآية
                        {{ player.verse_id }}
                        </a>
                    </b>
                </p>
            </li>
        </ul>
    </div>

    <div class="pagination pull-right">
        <ul>
            <li ng-class="{disabled: currentPage == 0}">
                <a href ng-click="prevPage()">« Prev</a>
            </li>
            <li ng-repeat="n in range(pagedItems.length)"
                ng-class="{active: n == currentPage, show: (n - 5 < currentPage) && (n + 5 > currentPage) }"
                ng-click="setPage()">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                <a href ng-click="nextPage()">Next »</a>
            </li>
        </ul>
    </div>
</section>